<div *ngIf="!country; else countrySection" class="row mt-2">
  <div class="col">
    <div class="alert alert-warning" role="alert">
      No se ha encontrado el país
    </div>
  </div>
</div>

<ng-template #countrySection>
  <div class="row">
    <div class="col">
      <div class="mt-2">
        <label>País: </label>
        <input type="text" class="form-control" disabled value="{{country.name}}">
      </div>
      <div class="mt-2">
        <label>Iso 2</label>
        <input type="text" class="form-control" disabled value="{{country.iso2}}" />
      </div>
    </div>
    <div class="col">
      <div class="mt-2">
        <label>Capital</label>
        <input type="text" class="form-control" disabled value="{{country.capital}}" />
      </div>
      <div class="mt-2">
        <label>Iso 3</label>
        <input type="text" class="form-control" disabled value="{{country.iso3}}" />
      </div>
    </div>
  </div>
</ng-template>
