<ng-template #loading>
  <shared-loading-spinner></shared-loading-spinner>
</ng-template>

<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h3>Country: <strong>{{country.name.common}}</strong></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <h3>Flag</h3>
          <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="fs-6 country-flags-alt">
            {{country.flags.alt}}
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Population: </strong>{{country.population | number}}
        </li>
        <li class="list-group-item">
          <strong>Code: </strong>{{country.cca3}}
        </li>
        <li class="list-group-item">
          <strong>Official: </strong>{{country.name.official}}
        </li>
        <li class="list-group-item">
          <strong>Capital: </strong>{{country.capital}}
        </li>
        <li class="list-group-item">
          <div class="flex flex-wrap">
            <span class="badge bg-secondary m-1"
              *ngFor="let currency of country.currencies | keyvalue">
              {{ currency.key| uppercase }} - {{ country.currencies[currency.key].name }}
            </span>
          </div>
        </li>
        <li class="list-group-item">
          <h3>Translations</h3>
          <div class="flex flex-wrap">
            <span class="badge bg-primary m-1" *ngFor="let translation of country.translations | keyvalue">
              {{ translation.key | uppercase }} - {{ country.translations[translation.key].common }}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="map-container mb-3">
    <maps-map
      [originalPoint]="originalPoint"
      [zoomLevel]="4" />
  </div>
</div>
